/* You can add global styles to this file, and also import other style files */

/* set navigation bar size */
nav {
  height: 100px;
  line-height: 100px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  height: 100px;
  line-height: 100px;
}

nav .button-collapse i {
  height: 100px;
  line-height: 100px;
}

nav .brand-logo {
  font-size: 1.6rem;
}

@media only screen and (min-width: 992px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 100px;
    line-height: 100px;
  }
}

/*to set the page in align with side nav*/
@media only screen and (min-width: 992px) {
  .setSidebar {
    padding-left: 300px;
  }
}

/*to set the footer in the bottom of the page*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
