<div class="row" style="border: 1px solid #bbdefb">
  <div class="col s1">
    <h5 class="center-align">{{selectedQuestion.totalRatings}}</h5>
    <div class="divider"></div>
    <h6 class="center-align">Rate</h6>
  </div>
  <div class="col s1">
    <h5 class="center-align">{{selectedQuestion.totalAnswers}}</h5>
    <div class="divider"></div>
    <h6 class="center-align">Ans</h6>
  </div>
  <div class="col s10 valign-wrapper">
    <div style="padding: 10px">
      <a [routerLink]="['/question/' + selectedQuestion._id]" style="font-size: 20px; color: #1976d2;">{{selectedQuestion.title}}</a>
      <br><br>
      <div class="chip" style="background-color: #1e88e5; border-radius: 0"><a href="#" style="color: white">{{selectedQuestion.moduleCode}} - {{selectedQuestion.moduleName}}</a></div>
      <div class="chip" style="border-radius: 0" *ngFor="let tag of selectedQuestion.tags">{{tag}}</div>
    </div>
  </div>
</div>
