<!-- Modal Trigger -->
<a id="trigger_confirmation" hidden href="#confirmation"></a>

<!-- Modal Structure -->
<div id="confirmation" class="modal">
  <div class="modal-content">
    <h4>Confirmation</h4>
    <p>Password changed successfully.</p>
  </div>
</div>

<!-- Modal Structure -->
<div id="passwordReset" class="modal">
  <div class="modal-content">
    <div class="row">
      <form id="loginForm" (ngSubmit)="changePassword(password.value, newPassword.value, confirmPassword.value)" class="col s12" style="padding: 10px 50px;">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="password"
              type="password"
              class="validate"
              name="password"
              ngModel
              required
              #password
            >
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              id="newPassword"
              type="password"
              class="validate"
              name="newPassword"
              ngModel
              required
              #newPassword
            >
            <label for="newPassword">New Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              id="confirmPassword"
              type="password"
              class="validate"
              name="confirmPassword"
              ngModel
              required
              #confirmPassword
            >
            <label for="confirmPassword">Confirm Password</label>
          </div>
        </div>
        <div class="row" style="padding-left: 10px; padding-right: 10px;">
          <button class="btn waves-effect waves-light center" type="submit" name="action" style="width: 100%">Change
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a [routerLink]="['/view-profile']">{{user.name}}</a></li>
  <li><a href="#passwordReset">Change Password</a></li>
  <li class="divider"></li>
  <li><a (click)="logout()">Logout</a></li>
</ul>
<nav>
  <div class="nav-wrapper grey darken-3">
    <div class="row">
      <div class="col l8 m10 s10 offset-l1 offset-m1 offset-s1">
        <form class="navbar-form" (ngSubmit)="search()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Questions" name="srch-term" id="srch-term"
                   [(ngModel)]="keyword">
          </div>
        </form>
      </div>
      <div class="col l3 hide-on-med-and-down">
        <ul id="nav-mobile" class="right">
          <li>
            <a id="accountDropdown" class="dropdown-button truncate" data-activates="dropdown1"
               href="javascript:void(0);">
              <i class="material-icons left">perm_identity</i>
              {{user.name}}
              <i class="material-icons right">arrow_drop_down</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
