<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="">{{username}}</a></li>
  <li><a href="">Change Password</a></li>
  <li class="divider"></li>
  <li><a (click)="logout()">Logout</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s8 offset-s1">
        <form class="navbar-form" (ngSubmit)="search()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Questions" name="srch-term" id="srch-term"
                   [(ngModel)]="keyword">
          </div>
        </form>
      </div>
      <div class="col s3">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a id="accountDropdown" class="dropdown-button" data-activates="dropdown1" href="javascript:void(0);"><i
              class="material-icons left">perm_identity</i>{{username}}<i
              class="material-icons right">arrow_drop_down</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
