<!-- Modal Structure -->
<div id="submitted" class="modal">
  <div class="modal-content">
    <h4>Confirmation!</h4>
    <p>Module added successfully.</p>
  </div>
</div>

<a id="trigger_submitted" href="#submitted" hidden></a>

<!-- Modal Structure -->
<div id="error" class="modal">
  <div class="modal-content">
    <h4>Error!</h4>
    <p>Module not added.</p>
  </div>
</div>

<a id="trigger_error" href="#error" hidden></a>

<div class="row container" style="padding-top: 20px">
  <h5>Add New Module</h5>
</div>
<div class="row divider"></div>
<div class="container">
  <div style="padding-bottom: 20px">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Enter module code" id="moduleCode" type="text" class="validate"
               [(ngModel)]="selectedModule.moduleCode" required>
        <label for="moduleCode" class="active">Module Code</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Enter module name" id="moduleName" type="text" class="validate"
               [(ngModel)]="selectedModule.moduleName" required>
        <label for="moduleName" class="active">Module Name</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h6>Topics</h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collection">
          <li *ngFor="let topic of selectedModule.topics" class="collection-item">
            <div>{{topic}}
              <span (click)="removeTopic(topic)"><a class="secondary-content"><i class="material-icons">delete</i></a></span>
            </div>
            <button hidden (click)="removeTopic(topic)" [id]="topic"></button>
          </li>
        </ul>
        <div style="padding-left: 20px; padding-right: 20px">
          <input [(ngModel)]="editingTopic" (keyup.enter)="addNewTopic()" placeholder="Add new topic" id="moduleAdd" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <div class="col s6">
          <button [routerLink]="['/manage-modules']" class="btn waves-effect waves-light center grey darken-1" type="button"
                  name="cancel" style="width: 100%">
            Cancel
          </button>
        </div>
        <div class="col s6">
          <button (click)="addModule()" class="btn waves-effect waves-light center" type="button" name="submit" style="width: 100%">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

