<div class="row container" style="padding-top: 20px">
  <h5>Add New Question</h5>
</div>
<div class="row divider"></div>
<div class="container" style="padding-bottom: 50px">
  <!-- Modal Structure -->
  <div id="submitted" class="modal">
    <div class="modal-content">
      <h4>Confirmation!</h4>
      <p>Question submitted successfully.</p>
    </div>
    <div class="modal-footer">
      <a [routerLink]="['/featured']" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>

  <a id="trigger_submitted" href="#submitted" hidden></a>

  <!-- Modal Structure -->
  <div id="confirmation" class="modal">
    <div class="modal-content">
      <h4>Question is not submitted!</h4>
      <p>Do you wish to cancel the question submission. All the entered details will be lost.</p>
    </div>
    <div class="modal-footer">
      <a [routerLink]="['/featured']" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
    </div>
  </div>

  <form (ngSubmit)="submitQuestion()">
    <ask-module-search *ngIf="moduleList" [moduleList]="moduleList" (onModuleChanged)="loadSelectedModule($event)"></ask-module-search>
    <div class="row">
      <div class="input-field col s12">
        <select id="topic" name="topic">
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let topic of selectedModule?.topics" [value]="topic">{{topic}}</option>
        </select>
        <label>Topic</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Add your question title here..." id="title" type="text" required
               [(ngModel)]="question.title" name="title">
        <label for="title" class="active">Question</label>
      </div>
    </div>
    <div class="input-field col s12">
      <ask-text-area [elementId]="'questionAdd'" (onEditorKeyup)="question.description = $event"></ask-text-area>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <div class="chips chips-placeholder"></div>
      </div>
    </div>

    <ask-input-error *ngIf="hasError" [errorMessage]="'PLease select a module before submitting the answer'"></ask-input-error>

    <div class="row">
      <div class="input-field">
        <div class="col s6">
          <button data-target="confirmation" class="btn waves-effect waves-light center grey darken-1" type="button" name="cancel" style="width: 100%">
            Cancel
          </button>
        </div>
        <div class="col s6">
          <button class="btn waves-effect waves-light center" type="submit" name="submit" style="width: 100%">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
