/*Make scrollable div*/
.scroll-box {
  overflow-y:scroll;
}

@media screen and (min-width: 1024px) {
  .scroll-box {
    overflow-y:hidden;
  }
}

.side-nav{
  overflow-y:hidden;
}

.active{
  background-color: #e0e0e0;
}

.my-fixed{
  position: absolute;
  top: 40px;
  left: 20px;
  height: 40px;
  width: 40px;
  color: white;
}
