<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="valign-wrapper z-depth-1" style="background-color: #424242; height: 100px">
      <img style="height: 70px" src="../../../assets/images/company_logo.png" alt="Company Logo">
      <h1 style="font-size: 40px; color: white; padding-left: 40px;">asking</h1>
    </div>
  </li>
  <li><a [routerLink]="['/featured']" routerLinkActive="active">Home</a></li>
  <li><a [routerLink]="['/add-question']" routerLinkActive="active">Add Question</a></li>
  <li><a [routerLink]="['/search-module']" routerLinkActive="active">Search Module</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader">Enrolled Modules</a></li>
  <div class="scroll-box">
    <li *ngFor="let module of enrolledModules"><a href="#!">{{module.name}}</a></li>
  </div>
</ul>
