<body>

<!-- Modal Structure -->
<div id="error" class="modal">
  <div class="modal-content">
    <h4>Error</h4>
    <p>Password reset message not sent.</p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="confirmation" class="modal">
  <div class="modal-content">
    <h4>Confirmation</h4>
    <p>A email with password reset link was sent to your email address.</p>
  </div>
  <div class="modal-footer">
    <a [routerLink]="['/login']" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>

<a hidden id="trigger_error" href="#resend">Resend Modal Trigger</a>
<a hidden id="trigger_confirmation" href="#confirmation">Confirmation Modal Trigger</a>

<header>
  <ask-loginheader></ask-loginheader>
</header>
<main>
  <div class="container">
    <div class="row" style="padding-top: 50px;">
      <form id="loginForm" (ngSubmit)="send()" class="col s6 offset-s3 z-depth-2" style="padding: 30px 50px;">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="email"
              type="email"
              class="validate"
              [(ngModel)]="email"
              name="email"
              ngModel
              required
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            >
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row" style="padding-left: 10px; padding-right: 10px;">
          <button class="btn waves-effect waves-light center" type="submit" name="action" style="width: 100%">Send
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
<footer>
  <ask-footer></ask-footer>
</footer>
</body>
